* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;

  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 1;
  border-image-repeat: stretch;
  background-color: rgb(33, 33, 48);

  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  color: #1C1C1D;

  min-width: 320px;
}
